<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/67c66657c7.js" ></script>
   <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
   <title>Decluttr</title>
</head>
<body class="index-bg">

    <div class ="index-container">

        <div class = "nav-search-bar-container">
            <div class="app-name">
                <span>Decluttr</span>
            </div>

            <div class="nav-icons">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <a href="#"><i class="fas fa-user"></i></a>
            </div>
            
        </div>


        <div class="middle-section-content">
            <h1>Decluttr</h1>
            <p>Buy and Sell Electronics, Games, Books, DVDs and more</p>
            <a href="#" class="shop-now-btn">Shop Now</a>
        </div>


        <div class="upgrade-section">
            <h2>Upgrade for Less</h2>
            <p>Top Brands, Low Prices</p>
            <p>Save Up to 50% vs. New</p>
            <a href="#" class="shop-now-btn">Shop Now</a>
        </div>

    </div>




</body>
</html>